:root {
  --border-color: rgb(209, 217, 224);
  --primary-color: rgb(104, 104, 104);
  --accent-color: steelblue;
}
.WeatherApp {
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px var(--border-color) solid;
  border-radius: 4px;
  color: var(--primary-color);
  padding: 20px;
}
h1 {
  padding-top: 10px;
}
ul {
  list-style: none;
  text-align: left;
}

.mainInfo {
  text-align: left;
}

.searchInput {
  width: 100%;
  border-color: var(--border-color);
  border-radius: 4px;
}
.searchButton {
  width: 100%;
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
  border-radius: 4px;
}
.degrees {
  font-size: 47px;
  line-height: 80px;
  float: left;
  padding: 0 5px 0 10px;
}
.units {
  font-size: 13px;
  float: left;
  position: relative;
  top: 19px;
}
.spinner {
  position: relative;
  left: 280px;
  top: 80px;
}
canvas {
  float: left;
  height: 65px;
  margin-top: 8px;
}
footer {
  text-align: left;
  color: var(--primary-color);
  font-size: 11px;
}
footer a {
  color: var(--accent-color);
}
