:root {
  --border-color: rgb(209, 217, 224);
}

ul {
  list-style: none;
  text-align: left;
}
.weatherPage {
  border: 1px var(--border-color) solid;
  border-radius: 4px;
  padding: 10px;
  max-width: 600px;
  display: block;
  margin: 30px auto;
}
.searchInput {
  margin: 20px;
  width: 300px;
  border-color: var(--border-color);
  border-radius: 4px;
}
.searchButton {
  width: 100px;
  background-color: rgb(222, 232, 238);
  border-color: var(--border-color);
  border-radius: 4px;
}
.footer {
  text-align: left;
  position: relative;
  left: 225px;
  top: -20px;
}
