:root {
  --border-color: rgb(209, 217, 224);
  --primary-color: rgb(104, 104, 104);
}

h1 {
  padding-top: 10px;
}
ul {
  list-style: none;
  text-align: left;
}

.mainInfo {
  text-align: left;
}
.weatherPage {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px var(--border-color) solid;
  border-radius: 4px;
  color: var(--primary-color);
  padding: 20px;
  margin: 0 auto;
}

.searchInput {
  width: 100%;
  border-color: var(--border-color);
  border-radius: 4px;
}
.searchButton {
  width: 100%;
  background-color: rgb(222, 232, 238);
  border-color: var(--border-color);
  border-radius: 4px;
}
.degrees {
  font-size: 47px;
  line-height: 80px;
  float: left;
  padding: 0 5px 0 10px;
}
.units {
  font-size: 13px;
  float: left;
  position: relative;
  top: 19px;
}

img {
  float: left;
  height: 80px;
}
footer {
  text-align: left;
  color: var(--primary-color);
  font-size: 11px;
}
